.header{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-mid{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rooot{
    background-color: cadetblue;
  }